@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background: #00b9fb;
  margin: 0;
  font-family: "Roboto";
}

.topbar {
  display: flex;
  background: white;
  padding: 1em;
  position: fixed;
  width: 100%;
  top: 0;

  nav {
    width: auto;
    overflow: hidden;
    margin: auto;

    ul {
      margin: 0;
      padding: 1em;
      margin-top: 10px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      list-style-type: none;
      margin: 0;
      border: 0;
      padding: 0;
      outline: 0;
      .home_item {
        .home {
          font-weight: bold;
          list-style: none;
          box-sizing: border-box;
          text-decoration: none;
          color: #00b9fb;
          letter-spacing: 0.5px;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          font-size: 1rem;
          line-height: 1.5rem;
          background: none;
          outline: none;
          border: none;
          cursor: pointer;
        }
      }
    }
    a {
      font-weight: 500;
      list-style: none;
      box-sizing: border-box;
      text-decoration: none;
      color: #00b9fb;
      letter-spacing: 0.5px;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}

section.home {
  .head {
    margin-top: 80px;
    font-weight: bold;
    color: white;
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  }

  .home_box {
    display: block;
    margin: auto;
    padding: 1em;
    border-radius: 10em;
    width: 60%;
    height: 60%;
    align-self: center;
    background-color: white;
    box-shadow: 0 3px 4px rgba(37, 37, 37, 0.2),
      0 1px 6px rgba(65, 63, 63, 0.25);
    .subhead {
      color: #00b9fb;
      font-weight: 500;
      font-size: 1em;
      text-align: center;
    }
    .explanation {
      text-align: center;
      color: #00b9fb;
    }
  }
}

section.about {
  justify-content: center;
  .head {
    margin-top: 2.5em;
    margin-bottom: 0em;
    border: 0;
    padding: 0;
    outline: 0;
    font-weight: 500;
    text-align: center;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  }
  .border {
    width: 30px;
    margin-top: 4px;
    height: 1px;
    border: 0;
    border-top: 2px solid white;
    margin-bottom: 4em;
  }

  .description {
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    color: white;
    margin: auto;
    width: 50%;
  }
}

section.projects {
  .head {
    margin-top: 3em;
    margin-bottom: 0em;
    border: 0;
    padding: 0;
    outline: 0;
    font-weight: 500;
    text-align: center;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  }
  .border {
    box-sizing: border-box;
    width: 30px;
    margin-top: 4px;
    margin-bottom: -1em;
    height: 1px;
    border: 0;
    border-top: 2px solid white;
  }
  .project_list {
    display: grid;
    vertical-align: baseline;
    justify-items: center;
    .project_1 {
      border-radius: 8px;
      display: block;
      box-sizing: border-box;
      width: 62.5%;
      margin: 5em;
      padding: 1em;
      align-self: center;
      background-color: white;
      box-shadow: 0 3px 4px rgba(37, 37, 37, 0.2),
        0 1px 6px rgba(65, 63, 63, 0.25);
      .demo {
        border-radius: 8px;
        box-shadow: 0 3px 4px rgba(37, 37, 37, 0.2),
          0 1px 6px rgba(65, 63, 63, 0.25);
        margin: 1em;
        width: 50em;
        max-width: 100%;
      }
      .subhead {
        color: #00b9fb;
        margin: 1em;
      }
      .desc {
        color: #00b9fb;
        margin: 1em;
      }
    }
    .project_2 {
      border-radius: 8px;
      display: block;
      box-sizing: border-box;
      width: 62.5%;
      margin: 5em;
      padding: 1em;
      align-self: center;
      background-color: white;
      box-shadow: 0 3px 4px rgba(37, 37, 37, 0.2),
        0 1px 6px rgba(65, 63, 63, 0.25);
      .demo {
        border-radius: 8px;
        box-shadow: 0 3px 4px rgba(37, 37, 37, 0.2),
          0 1px 6px rgba(65, 63, 63, 0.25);
        margin: 1em;
        width: 50em;
        max-width: 100%;
      }
      .subhead {
        color: #00b9fb;
        margin: 1em;
      }
      .desc {
        color: #00b9fb;
        margin: 1em;
      }
    }
    .project_3 {
      border-radius: 8px;
      display: block;
      box-sizing: border-box;
      width: 62.5%;
      margin: 5em;
      padding: 1em;
      align-self: center;
      background-color: white;
      box-shadow: 0 3px 4px rgba(37, 37, 37, 0.2),
        0 1px 6px rgba(65, 63, 63, 0.25);
      .demo {
        border-radius: 8px;
        box-shadow: 0 3px 4px rgba(37, 37, 37, 0.2),
          0 1px 6px rgba(65, 63, 63, 0.25);
        margin: 1em;
        width: 50em;
        max-width: 100%;
      }
      .subhead {
        color: #00b9fb;
        margin: 1em;
      }
      .desc {
        color: #00b9fb;
        margin: 1em;
      }
    }
    .project_4 {
      border-radius: 8px;
      display: block;
      box-sizing: border-box;
      width: 62.5%;
      margin: 5em;
      padding: 1em;
      align-self: center;
      background-color: white;
      box-shadow: 0 3px 4px rgba(37, 37, 37, 0.2),
        0 1px 6px rgba(65, 63, 63, 0.25);
      .demo {
        border-radius: 8px;
        box-shadow: 0 3px 4px rgba(37, 37, 37, 0.2),
          0 1px 6px rgba(65, 63, 63, 0.25);
        margin: 1em;
        width: 50em;
        max-width: 100%;
      }
      .subhead {
        color: #00b9fb;
        margin: 1em;
      }
      .desc {
        color: #00b9fb;
        margin: 1em;
      }
    }
  }
}

section.contact {
  .head {
    margin-top: 1em;
    margin-bottom: 0em;
    border: 0;
    padding: 0;
    outline: 0;
    font-weight: 500;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    text-align: center;
    color: white;
  }
  .border {
    line-height: 1.5rem;
    font-family: "font-regular";
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    box-sizing: border-box;
    width: 30px;
    margin-top: 4px;
    height: 1px;
    border: 0;
    border-top: 2px solid white;
  }
  .contact_box {
    border-radius: 8px;
    color: #00b9fb;
    box-shadow: 0 3px 4px rgba(37, 37, 37, 0.2),
      0 1px 6px rgba(65, 63, 63, 0.25);
    display: block;
    padding: 1em;
    width: auto;
    margin: 2em;
    background-color: white;
    .email {
      text-align: center;
    }
  }
}
